body {
    padding-top: 50px;
}

.jumbotron {
    padding: 20px;
}

.row {
    background-color: #FFFDD0;
    padding-bottom: 30px;
}

.article {
    border: 1px solid #848482;
    border-radius: 5px;
    padding: 10px;
    background-color: #f6f7f8;
}

.article .footer {
    padding-top: 10px;
    border-top: 1px solid #333;
}

.article .preview {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article .task-bar .glyphicon {
    margin-left: 5px;
    color: #bababa;
}

.article .task-bar .glyphicon:hover {
    color: #626262;
    cursor: pointer;
}

.article .task-bar:after {
    content: '';
    display: block;
    clear: both;
}

.creation-date {
    float: left;
}

.footer:after {
    content: '';
    display: block;
    clear: both;
}

.footer div {
    font-size: 12px;
}