body {
	font-family: 'Raleway', 'Open Sans', sans-serif;
}

.header {
	padding-top: 50px;
	padding-bottom: 15px;
}

.jumbotron {
	margin-bottom: 0;
}

.navbar-hover li:hover {
	background-color: #e7e7e7;
 }

form.md-form {
	width: 50%;
	margin: 0 auto;
}

form .form-title {
	margin-bottom: 20px;
}

.modal-content {
	background-color: #eee;
}

.modal-body {
	background-color: #fff;
}

.article {
	border: 1px solid #eee;
	padding: 10px;
	border-radius: 6px;
	height: 313px;
}

.article main {
	height: 200px;
}

.article-controls .glyphicon {
	margin-left: 5px;
	color: #8a8a8a;
}

.article-controls a {
	text-decoration: none;
}

.article-controls [class*='pencil']:hover {
	color: green;
}

.article-controls [class*='remove']:hover {
	color: red;
}

.article footer {
	border-top: 1px solid #eee;
	padding-top: 10px;
}

.article footer::after {
	content: '';
	display: block;
	clear: both;
}

.view-btn {
	margin-top: 3px;
}

.superheight {
	height: 1000px;
}

